@import url(https://fonts.googleapis.com/css?family=Lato);
.card-container {
	width: 900px;
	height: auto;
	padding: -200px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin: 0 auto;
}
.card-container .card {
	text-align: center;
	margin: 0.2em auto;
	cursor: pointer;
}
.card-container .card .card-img-top {
	position: relative;
	z-index: 2;
	width: 150px;
	height: 115px;
	transform: translateY(52%);
	transition: 0.5s;
	border-radius: 5%;
}

.card-container .card .card-body {
	z-index: 1;
	box-sizing: border-box;
	height: 110px;
	background: #CCC;
	padding: 1.25em 0em;
	box-shadow: 0 1.4px 1.2px rgba(0, 0, 0, 0.056),
	0 6.7px 5.3px rgba(0, 0, 0, 0.081), 0 12.5px 10px rgba(0, 0, 0, 0.1),
	0 22.3px 17.9px rgba(0, 0, 0, 0.119),
	0 41.8px 33.4px rgba(0, 0, 0, 0.144), 0 100px 80px rgba(0, 0, 0, 0.2);
	transform: translateY(-35%);
	transition: 0.5s;
	border-radius: 5%;
}
.card-container .card .card-body .card-title {
	margin: 1.25em 0;
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.2;
}
.card-container .card .card-body .card-text {
	margin: 0 0 1em 0;
}

.card-container .card:hover .card-img-top, .card-container .card.active .card-img-top {
	transform: translateY(40%);
}
.card-container .card:hover .card-body, .card-container .card.active .card-body {
	transform: translateY(0);
	background: #404d5b;
	color: white;
}
